registry=https://registry.npmjs.org/
proxy=http://J6100405:ZYKZYK123@10.191.131.104:3128
https-proxy=http://J6100405:ZYKZYK123@10.191.131.104:3128
electron_mirror="https://github.com/electron/electron/releases/download/"
electron_custom_dir="{{version}}"